@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@keyframes color-animation {
    0% {
        background-color: var(--wp--preset--color--accent);
    }

    50% {
        background-color: var(--wp--preset--color--accent-3);
    }

    100% {
        background-color: var(--wp--preset--color--accent);
    }
}