// Basic HTML Elements
html {
    scroll-behavior: smooth;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

// Typography
h1,
h2,
h3,
h4 {
    font-stretch: 80%;
}

strong {
    font-weight: 700;
}

a {
    text-underline-offset: var(--wp--preset--spacing--tiny, 1px);
}

// Utility Classes
.hidden {
    display: none !important;
}

p:empty {
    display: none !important;
}

// Block Spacing Reset
:root :where(.wp-site-blocks)>*,
.wp-site-blocks>* {
    margin-block-start: 0 !important;
    margin-block-end: 0;
}

// Media Queries
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

@media (max-width: 480px) {
    .mobile-less-stretch {
        font-stretch: 65%;
    }
}