html {
    scroll-behavior: smooth;
}

p:empty {
    display: none !important;
}

.hidden {
    display: none;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
}

strong {
    font-weight: 700;
}

h1,
h2,
h3,
h4 {
    font-stretch: 80%;
}

.fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

:root :where(.wp-site-blocks)>* {
    margin-block-start: 0 !important;
    margin-block-end: 0;
}

.wp-site-blocks>* {
    margin-block-start: 0 !important;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@media (max-width:480px) {
    .mobile-less-stretch {
        font-stretch: 65%;
    }
}

a {
    text-underline-offset: 3px;
}

.wp-block-navigation__container a {
    text-decoration: underline;
    text-underline-offset: 3px;
}