.site-header {
    position: relative;
    z-index: 9;
}

.site-header,
main,
.site-footer {
    width: 100%;
}

main {
    flex: 1
}

.wp-site-blocks>.site-footer {
    flex: 1;
    background: var(--wp--preset--color--contrast);
}

#menu-icon {
    width: 40px !important;
    height: auto;

    path {
        fill: var(--wp--preset--color--accent);
    }
}

.wp-block-navigation__responsive-container {
    &.is-menu-open {
        max-width: 100%;
        padding: var(--wp--preset--spacing--medium) 10%;

        .wp-block-navigation__responsive-container-content {
            .wp-block-navigation__submenu-container {
                padding-top: 0 !important;
            }
        }
    }

    &:not(.has-background).is-menu-open {
        opacity: 0.95 !important;
    }
}

.wp-block-navigation__responsive-container-content {
    .wp-block-navigation>ul {
        margin-top: 0;
        padding-top: 0;
    }
}
/* 
.wp-block-cover.page-heading {
    background-color: var(--wp--preset--color--contrast);
} */

.blog .site-header+main>.wp-block-query,
.page .site-header+main>.wp-block-columns,
.archive .site-header+main>.wp-block-columns,
.single .site-header+main>.wp-block-columns,
.site-header+main>.entry-content {
    position: relative;
}

.is-content-justification-space-between {
    justify-content: space-between;
}

.wp-block-term-description {
    margin-top: 0;

    p {
        margin: var(--wp--preset--spacing--tiny) auto;
    }
}

#gototop {
    height: 28px;
    width: 28px;
    padding: var(--wp--preset--spacing--tiny);
    background-color: var(--wp--preset--color--accent);
    text-align: center;
    position: fixed;
    right: var(--wp--preset--spacing--small);
    bottom: var(--wp--preset--spacing--small);
    z-index: 999;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--wp--preset--color--accent-2) !important;
    }

    a {
        color: var(--wp--preset--color--base) !important;
        text-decoration: none !important;
        &:hover {
            color: var(--wp--preset--color--base) !important;
        }
    }
}