img,
svg {
    max-width: 100%;
    height: auto;
}


/** korrigiert "überlaufen" von einer blockgruppe über den html-rand hinaus - bug? hinzugefügt am 22.01.2025*/
.wp-block-categories .wp-block-categories__label {
    width: auto;
}

.wp-block-categories .wp-block-categories__label.screen-reader-text {
    width: 1px;
}

/** old blog */

.wp-block-post-excerpt__more-link {
    display: inline-block;

    &::after {
        content: " »";
        margin-left: 0;
        transition: margin-left 0.3s ease;
    }

    &:hover::after {
        margin-left: 4px;
    }
}

figure.wp-block-post-featured-image {
    overflow: hidden;
}

.wp-block-column.post-wrapper .wp-block-post-template .is-layout-flow.wp-block-group {
    margin-bottom: 1.5em !important;
}



main#wp--skip-link--target.is-layout-constrained.wp-container-21.wp-block-group.site-content.has-background-background-color.has-background {
    background-color: var(--wp--preset--color--white)
}

.wp-block-post-comments-form .comment-form input:not([type=submit]):not([type=checkbox]),
.wp-block-post-comments-form .comment-form textarea,
input#wp-block-search__input-3.wp-block-search__input {
    color: var(--wp--preset--color--foreground);
    background-color: #f9f9f9
}

.wp-block-post-comments-form input:not([type="submit"]),
.wp-block-post-comments-form textarea {
    border-color: #eee
}


pre {
    background-color: var(--wp--preset--color--foreground);
    color: var(--wp--preset--color--background-accent);
    border-color: var(--wp--preset--color--foreground);
}

.wp-block-post-featured-image {
    position: relative;
}

.wp-block-post-featured-image .image-source {
    position: absolute;
    right: 10px;
    bottom: 10px;
    max-width: calc(100% - 60px);
    z-index: 111;
    text-align: left;
}

.wp-block-post-featured-image .image-source,
.wp-block-cover .wp-block-cover__background {
    transition: all 0.70s ease-in-out;
}

.wp-block-post-featured-image:hover .image-source,
.wp-block-cover:hover .wp-block-cover__background {
    transition: all 0.70s ease-in-out;
}

.wp-block-post-featured-image .image-source {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.wp-block-post-featured-image .image-source h2,
.wp-block-post-featured-image .image-source h3 {
    font-size: 16px;
    color: #fff
}

.wp-block-post-featured-image:hover .image-source h2 a {
    color: #fff;
}

.wp-block-post-featured-image .image-source h2,
.wp-block-post-featured-image .image-source h3,
.page-heading.wp-block-cover .wp-block-cover__inner-container p {
    margin: 0;
}

.page-heading h2 {
    text-align: center;
}

.wp-block-post-featured-image .image-source,
.page-heading.wp-block-cover .wp-block-cover__inner-container {
    padding: 5px 10px;
    margin: 0;
}

.wp-block-post-featured-image .image-source a {
    transition: all 0.70s ease-in-out;
    color: #ffffff;
    display: inline-block;
}

.wp-block-post-featured-image:hover .image-source h2,
.wp-block-post-featured-image:hover .image-source h3,
.wp-block-post-featured-image:hover .image-source h2 a,
.wp-block-post-featured-image:hover .image-source h3 a,
.wp-block-post-featured-image:hover .image-source strong a,
.wp-block-cover:hover .wp-block-cover__inner-container a {
    transition: all 0.70s ease-in-out;
    color: var(--wp--preset--color--foreground);
}

.wp-block-post-featured-image:hover .image-source {
    color: var(--wp--preset--color--foreground);
    transition: all 0.70s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
}

.wp-block-post-featured-image,
.wp-block-post-featured-image:hover {
    transition: all 0.70s ease-in-out;
}

.wp-block-group:not(:hover) .wp-block-post-featured-image {
    filter: grayscale(95%);
}


.is-style-main-navigation .wp-block-navigation__responsive-container:not(.is-menu-open) .wp-block-navigation__container>.wp-block-navigation-item .wp-block-navigation__submenu-container .wp-block-navigation-item .wp-block-navigation-item__content {
    padding: 0.35rem 1rem;
}


.relevanssi-live-search-result p,
.relevanssi-live-search-result-status p {
    font-size: .9em;
    padding: 0 0.75em;
}

.relevanssi_related_post img {
    height: auto;
}

.relevanssi_related_post h4 {
    font-weight: 400;
    font-size: 18px;
}

.is-content-justification-space-between .post-navigation-link-next {
    text-align: right;
}


@media (min-width: 600px) {
    .wp-block-post-template.is-flex-container.is-flex-container.columns-3>li {
        width: calc(100%);
    }
}

@media (min-width: 960px) {
    .wp-block-post-template.is-flex-container.is-flex-container.columns-3>li {
        width: calc(33.33333% - .83333em);
    }
}

@media screen and (min-width:768px) {

    .comment-form-author,
    .comment-form-email {
        display: inline-block;
        width: 49%;
    }

    .comment-form-author {
        margin-right: 1%;
    }

    .comment-form-email {
        margin-left: 1%;
    }
}