form .columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: var(--wp--preset--spacing--medium) 0;

    p {
        margin: 0;
    }
}

form .columns-2>* {
    flex-basis: 48.5%;
}

form .columns-2.einszwei>*:first-child {
    flex-basis: 28%;
}

form .columns-2.einszwei>*:last-child {
    flex-basis: 69%;
}

.is-style-outline.wp-block-button .wp-block-button__link:hover {
    background-color: var(--wp--preset--color--accent);
    color: var(--wp--preset--color--base);
    border-color: var(--wp--preset--color--accent);
}

input[type="submit"] {
    background-color: var(--wp--preset--color--base);
    border-radius: 10px;
    padding: var(--wp--preset--spacing--small) var(--wp--preset--spacing--medium);
    border: 2px solid var(--wp--preset--color--accent);
    color: var(--wp--preset--color--accent);
    font-family: var(--wp--preset--font-family--roboto-flex);
    font-size: var(--wp--preset--font-size--normal);
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--wp--preset--color--accent);
        color: var(--wp--preset--color--base);
        border-color: var(--wp--preset--color--accent);
    }
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
select,
textarea {
    width: 100%;
    border: 1px solid var(--wp--preset--color--base-3);
    border-radius: 10px;
    box-sizing: border-box;
    padding: var(--wp--preset--spacing--small);
    font-family: var(--wp--preset--font-family--roboto-flex);
    font-size: var(--wp--preset--font-size--normal);
    background-color: var(--wp--preset--color--base-2);
    transition: border-color 0.3s ease;

    &:focus,
    &:focus-visible {
        border-color: var(--wp--preset--color--accent) !important;
        outline: none !important;
    }
}

.wpcf7-submit {
    width: 100%;
}

@media (max-width: 460px) {
    form .columns {
        flex-direction: column;
    }

    form .columns-2.einszwei>*:first-child,
    form .columns-2.einszwei>*:last-child,
    form .columns-2>* {
        flex-basis: 100%;
    }
}