@media (min-width: 960px) {
    .mobilesonly {
        display: none !important;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@media (max-width: 960px) {
    .desktoponly {
        display: none !important;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 960px) {

    .wp-block-navigation__responsive-container .wp-block-navigation__responsive-container-content {
        align-items: flex-start !important;
    }
}