
@charset "UTF-8";
.editor-styles-wrapper {
  /** korrigiert "überlaufen" von einer blockgruppe über den html-rand hinaus - bug? hinzugefügt am 22.01.2025*/
  /* :root :where(.wp-element-button, .wp-block-button__link) {
      border-radius: 1px !important;
  } */
  /** old blog */
  /* .is-style-main-navigation .wp-block-navigation__responsive-container:not(.is-menu-open) .wp-block-navigation__container>.wp-block-navigation-item .wp-block-navigation__submenu-container .wp-block-navigation-item .wp-block-navigation-item__content {
      padding: 0.35rem 1rem !important;
  }

  .wp-block-post-title:not(:hover) a {
      text-decoration: underline;
  }

  .wp-block-post-date {
      font-size: 14px;
      text-transform: uppercase;
  } */
  /* .wp-block-navigation ul {
      padding: 0 !important;
  }
   */
  /*
  li.wp-block-post {
  	position:relative;
  	padding-bottom:20px;
  }

  .wp-block-post-excerpt__more-link {
  	display:block;
  	text-align:right;
  	position:absolute;
  	bottom:0;
  	right:0;
  } */
}
.editor-styles-wrapper html {
  scroll-behavior: smooth;
}
.editor-styles-wrapper body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4 {
  font-stretch: 80%;
}
.editor-styles-wrapper strong {
  font-weight: 700;
}
.editor-styles-wrapper a {
  text-underline-offset: var(--wp--preset--spacing--tiny, 3px);
}
.editor-styles-wrapper .hidden {
  display: none !important;
}
.editor-styles-wrapper p:empty {
  display: none !important;
}
.editor-styles-wrapper .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
.editor-styles-wrapper .fadeIn {
  animation-name: fadeIn;
}
.editor-styles-wrapper .fadeOut {
  animation-name: fadeOut;
}
.editor-styles-wrapper :root :where(.wp-site-blocks) > *,
.editor-styles-wrapper .wp-site-blocks > * {
  margin-block-start: 0 !important;
  margin-block-end: 0;
}
@media screen and (prefers-reduced-motion: reduce) {
  .editor-styles-wrapper html {
    scroll-behavior: auto;
  }
}
@media (max-width: 480px) {
  .editor-styles-wrapper .mobile-less-stretch {
    font-stretch: 65%;
  }
}
.editor-styles-wrapper .site-header {
  position: relative;
  z-index: 9;
}
@media (min-width: 782px) {
  .editor-styles-wrapper .site-header .wp-block-greenshift-blocks-container {
    margin-bottom: calc(-1 * var(--wp--preset--spacing--xxx-large)) !important;
    z-index: 999;
  }
}
.editor-styles-wrapper .site-header nav .wp-block-navigation__submenu-container {
  padding: var(--wp--preset--spacing--medium) var(--wp--preset--spacing--medium) var(--wp--preset--spacing--medium) var(--wp--preset--spacing--medium);
  left: var(--wp--preset--spacing--medium);
}
.editor-styles-wrapper .wp-site-blocks > .site-footer {
  flex: 1;
  background: var(--wp--preset--color--contrast);
}
.editor-styles-wrapper #menu-icon {
  width: 40px !important;
  height: auto;
}
.editor-styles-wrapper #menu-icon path {
  fill: var(--wp--preset--color--accent);
}
.editor-styles-wrapper .wp-block-navigation__responsive-container.is-menu-open {
  max-width: 100%;
  padding: var(--wp--preset--spacing--medium) 10%;
}
.editor-styles-wrapper .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container {
  padding-top: 0 !important;
}
.editor-styles-wrapper .wp-block-navigation__responsive-container:not(.has-background).is-menu-open {
  opacity: 0.95 !important;
}
.editor-styles-wrapper .wp-block-navigation__responsive-container-content .wp-block-navigation > ul {
  margin-top: 0;
  padding-top: 0;
}
.editor-styles-wrapper .wp-block-cover.page-heading {
  background-color: var(--wp--preset--color--contrast);
}
.editor-styles-wrapper .blog .site-header + main > .wp-block-query,
.editor-styles-wrapper .page .site-header + main > .wp-block-columns,
.editor-styles-wrapper .archive .site-header + main > .wp-block-columns,
.editor-styles-wrapper .single .site-header + main > .wp-block-columns,
.editor-styles-wrapper .site-header + main > .entry-content {
  position: relative;
}
.editor-styles-wrapper .is-content-justification-space-between {
  justify-content: space-between;
}
.editor-styles-wrapper .wp-block-term-description {
  margin-top: 0;
}
.editor-styles-wrapper .wp-block-term-description p {
  margin: var(--wp--preset--spacing--tiny) auto;
}
.editor-styles-wrapper #gototop {
  height: 28px;
  width: 28px;
  padding: var(--wp--preset--spacing--tiny);
  background-color: var(--wp--preset--color--accent);
  text-align: center;
  position: fixed;
  right: var(--wp--preset--spacing--small);
  bottom: var(--wp--preset--spacing--small);
  z-index: 999;
  transition: background-color 0.3s ease;
}
.editor-styles-wrapper #gototop svg {
  height: auto;
  width: 15px;
}
.editor-styles-wrapper #gototop svg path {
  fill: var(--wp--preset--color--base);
}
.editor-styles-wrapper #gototop:hover {
  background-color: var(--wp--preset--color--accent-2) !important;
}
.editor-styles-wrapper #gototop a:hover {
  color: var(--wp--preset--color--base) !important;
}
.editor-styles-wrapper #gototop a::before {
  margin-right: 0;
  line-height: 25px;
}
.editor-styles-wrapper #gototop a::before:hover {
  color: var(--wp--preset--color--base) !important;
}
.editor-styles-wrapper img,
.editor-styles-wrapper svg {
  max-width: 100%;
  height: auto;
}
.editor-styles-wrapper blockquote p {
  font-stretch: 130%;
}
.editor-styles-wrapper .wp-block-cover {
  flex-direction: column;
}
.editor-styles-wrapper :root :where(.wp-block-code) {
  color: #000;
  background: #dde8f3;
  padding: 15px;
  font-family: "Courier New", Courier, monospace !important;
  overflow-x: scroll;
}
.editor-styles-wrapper .wp-block-code code {
  white-space: inherit !important;
  line-height: 2em;
  font-size: 16px;
}
.editor-styles-wrapper .wp-block-post-featured-image a {
  display: inline-block !important;
  margin-left: 3px;
  margin-right: 3px;
  text-decoration: underline;
}
.editor-styles-wrapper .wp-block-categories .wp-block-categories__label {
  width: auto;
}
.editor-styles-wrapper .wp-block-categories .wp-block-categories__label.screen-reader-text {
  width: 1px;
}
.editor-styles-wrapper html {
  scroll-behavior: smooth;
}
.editor-styles-wrapper .wp-block-post-excerpt__more-link {
  display: inline-block;
}
.editor-styles-wrapper figure.wp-block-post-featured-image {
  overflow: hidden;
}
.editor-styles-wrapper .wp-block-post-excerpt__more-link::after {
  content: "»";
}
.editor-styles-wrapper .wp-block-post-excerpt__more-link:hover::after {
  content: " »";
}
.editor-styles-wrapper .wp-block-column.post-wrapper .wp-block-post-template .is-layout-flow.wp-block-group {
  margin-bottom: 1.5em !important;
}
@media (min-width: 600px) {
  .editor-styles-wrapper .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: none;
  }
  .editor-styles-wrapper .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: block;
  }
}
@media (max-width: 600px) {
  .editor-styles-wrapper #publicly-top {
    padding: 1em !important;
  }
}
@media (max-width: 768px) {
  .editor-styles-wrapper .site-header > div {
    display: flex;
    flex-direction: column-reverse;
  }
  .editor-styles-wrapper .site-header > div nav {
    z-index: 999;
  }
}
@media (min-width: 768px) {
  .editor-styles-wrapper .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: block;
  }
  .editor-styles-wrapper .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none;
  }
}
.editor-styles-wrapper .wp-block-navigation__responsive-container .wp-block-navigation-link a {
  color: var(--wp--preset--color--secondary);
}
.editor-styles-wrapper .wp-block-post-featured-image img {
  max-width: 100% !important;
  height: auto !important;
}
.editor-styles-wrapper .wp-block-navigation__responsive-container .wp-block-navigation-link a:hover {
  text-decoration: underline;
}
.editor-styles-wrapper main#wp--skip-link--target.is-layout-constrained.wp-container-21.wp-block-group.site-content.has-background-background-color.has-background {
  background-color: var(--wp--preset--color--white);
}
.editor-styles-wrapper .wp-block-post-comments-form .comment-form input:not([type=submit]):not([type=checkbox]),
.editor-styles-wrapper .wp-block-post-comments-form .comment-form textarea,
.editor-styles-wrapper input#wp-block-search__input-3.wp-block-search__input {
  color: var(--wp--preset--color--foreground);
  background-color: #f9f9f9;
}
.editor-styles-wrapper .wp-block-post-comments-form input:not([type=submit]),
.editor-styles-wrapper .wp-block-post-comments-form textarea {
  border-color: #eee;
}
.editor-styles-wrapper .is-style-main-navigation .wp-block-navigation__responsive-container:not(.is-menu-open) .wp-block-navigation__container > .wp-block-navigation-item .wp-block-navigation__submenu-container {
  border-color: var(--wp--preset--color--background-accent);
}
.editor-styles-wrapper mark {
  background-color: var(--wp--preset--color--foreground);
  color: #fff;
}
.editor-styles-wrapper .single .wp-block-post-featured-image {
  height: 0;
  overflow: hidden;
  padding-bottom: 45%;
  width: 100%;
}
.editor-styles-wrapper footer a:hover {
  color: var(--wp--preset--color--background);
  text-decoration: underline;
}
.editor-styles-wrapper pre {
  background-color: var(--wp--preset--color--foreground);
  color: var(--wp--preset--color--background-accent);
  border-color: var(--wp--preset--color--foreground);
}
.editor-styles-wrapper .gototop {
  text-decoration: none;
  display: inline-block;
  background-color: var(--wp--preset--color--background-accent);
  color: var(--wp--preset--color--foreground) !important;
  padding: 6px 12px;
  line-height: 1em;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.editor-styles-wrapper .gototop:hover {
  text-decoration: none;
}
.editor-styles-wrapper .wp-block-post-featured-image {
  position: relative;
}
.editor-styles-wrapper .yarpp-related div > span a:hover {
  text-decoration: underline;
}
.editor-styles-wrapper .yarpp-related div > span .sep {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.2em;
}
.editor-styles-wrapper .yarpp-related div > span:last-child .sep {
  display: none;
}
.editor-styles-wrapper .yarpp-thumbnail .image-source,
.editor-styles-wrapper .wp-block-post-featured-image .image-source {
  position: absolute;
  right: 10px;
  bottom: 10px;
  max-width: calc(100% - 60px);
  z-index: 111;
  text-align: left;
}
.editor-styles-wrapper .yarpp-related .image-source,
.editor-styles-wrapper .yarpp-thumbnail .image-source {
  display: none;
}
.editor-styles-wrapper .wp-block-post-featured-image .image-source,
.editor-styles-wrapper .wp-block-cover .wp-block-cover__background {
  transition: all 0.7s ease-in-out;
}
.editor-styles-wrapper .wp-block-post-featured-image:hover .image-source,
.editor-styles-wrapper .wp-block-cover:hover .wp-block-cover__background {
  transition: all 0.7s ease-in-out;
}
.editor-styles-wrapper .wp-block-post-featured-image .image-source {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.editor-styles-wrapper .wp-block-post-featured-image .image-source h2,
.editor-styles-wrapper .wp-block-post-featured-image .image-source h3 {
  font-size: 16px;
  color: #fff;
}
.editor-styles-wrapper .wp-block-post-featured-image:hover .image-source h2 a {
  color: #fff;
}
.editor-styles-wrapper .wp-block-post-featured-image .image-source h2,
.editor-styles-wrapper .wp-block-post-featured-image .image-source h3,
.editor-styles-wrapper .page-heading.wp-block-cover .wp-block-cover__inner-container p {
  margin: 0;
}
.editor-styles-wrapper .page-heading h2 {
  text-align: center;
}
.editor-styles-wrapper .wp-block-post-featured-image .image-source,
.editor-styles-wrapper .page-heading.wp-block-cover .wp-block-cover__inner-container {
  padding: 5px 10px;
  margin: 0;
}
.editor-styles-wrapper .wp-block-post-featured-image .image-source a {
  transition: all 0.7s ease-in-out;
  color: #ffffff;
  display: inline-block;
}
.editor-styles-wrapper .wp-block-post-featured-image:hover .image-source h2,
.editor-styles-wrapper .wp-block-post-featured-image:hover .image-source h3,
.editor-styles-wrapper .wp-block-post-featured-image:hover .image-source h2 a,
.editor-styles-wrapper .wp-block-post-featured-image:hover .image-source h3 a,
.editor-styles-wrapper .wp-block-post-featured-image:hover .image-source strong a,
.editor-styles-wrapper .wp-block-cover:hover .wp-block-cover__inner-container a {
  transition: all 0.7s ease-in-out;
  color: var(--wp--preset--color--foreground);
}
.editor-styles-wrapper .wp-block-post-featured-image:hover .image-source {
  color: var(--wp--preset--color--foreground);
  transition: all 0.7s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
}
.editor-styles-wrapper .wp-block-post-featured-image,
.editor-styles-wrapper .wp-block-post-featured-image:hover {
  transition: all 0.7s ease-in-out;
}
.editor-styles-wrapper .wp-block-group:not(:hover) .wp-block-post-featured-image {
  filter: grayscale(95%);
}
.editor-styles-wrapper .is-style-main-navigation .wp-block-navigation__responsive-container:not(.is-menu-open) .wp-block-navigation__container > .wp-block-navigation-item .wp-block-navigation__submenu-container .wp-block-navigation-item .wp-block-navigation-item__content {
  padding: 0.35rem 1rem;
}
@media (min-width: 768px) {
  .editor-styles-wrapper .wp-block-navigation {
    --navigation-layout-justification-setting: center;
    --navigation-layout-justify: center;
  }
}
.editor-styles-wrapper .relevanssi-live-search-result p,
.editor-styles-wrapper .relevanssi-live-search-result-status p {
  font-size: 0.9em;
  padding: 0 0.75em;
}
.editor-styles-wrapper .site-header,
.editor-styles-wrapper main,
.editor-styles-wrapper .site-footer {
  width: 100%;
}
.editor-styles-wrapper main {
  flex: 1;
}
.editor-styles-wrapper .relevanssi_related_post img {
  height: auto;
}
.editor-styles-wrapper .relevanssi_related_post h4 {
  font-weight: 400;
  font-size: 18px;
}
.editor-styles-wrapper .is-content-justification-space-between .post-navigation-link-next {
  text-align: right;
}
.editor-styles-wrapper .is-layout-flow .yarpp-related {
  max-width: 1180px;
}
.editor-styles-wrapper .yarpp-related h3 {
  font-size: 100%;
  font-weight: 700;
  margin: 0;
  padding: 0 0 5px;
  text-transform: none;
}
.editor-styles-wrapper .yarpp-thumbnails-horizontal {
  display: flex;
  gap: 25px;
  max-width: 100%;
  flex-wrap: wrap;
}
.editor-styles-wrapper .yarpp-thumbnails-horizontal .yarpp-thumbnail {
  height: auto;
  border-width: 0;
  margin: 0;
}
.editor-styles-wrapper .yarpp-thumbnails-horizontal a img {
  height: auto;
  margin: 0;
}
.editor-styles-wrapper .yarpp-thumbnails-horizontal .yarpp-thumbnail-title {
  margin: 0 !important;
}
.editor-styles-wrapper .yarpp-thumbnail-title {
  max-width: calc(100% - 20px);
  font-weight: 400 !important;
  font-size: 15px !important;
  padding: 5px 10px;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .editor-styles-wrapper {
    /*
    	header .wp-block-navigation__container > li.has-child > a::after {
    		content:"+";
    		display:inline;
    	}
    */
  }
  .editor-styles-wrapper header nav {
    justify-content: flex-end;
  }
  .editor-styles-wrapper header form {
    width: 100%;
  }
  .editor-styles-wrapper header .wp-block-navigation__submenu-container {
    margin: 0;
    padding: 0 !important;
    font-size: 15px;
  }
  .editor-styles-wrapper header .wp-block-navigation__container > li > a {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.editor-styles-wrapper .is-layout-flow .yarpp-related {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #eee;
  padding: 25px;
}
@media (min-width: 600px) {
  .editor-styles-wrapper .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li {
    width: 100%;
  }
}
@media (min-width: 960px) {
  .editor-styles-wrapper .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li {
    width: calc(33.33333% - 0.83333em);
  }
}
@media screen and (max-width: 479px) {
  .editor-styles-wrapper .yarpp-thumbnails-horizontal .yarpp-thumbnail {
    width: 100% !important;
  }
  .editor-styles-wrapper .wp-container-12 {
    font-size: 15px;
  }
}
@media screen and (min-width: 480px) {
  .editor-styles-wrapper .yarpp-thumbnails-horizontal .yarpp-thumbnail {
    width: calc(33% - 15px) !important;
  }
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .comment-form-author,
  .editor-styles-wrapper .comment-form-email {
    display: inline-block;
    width: 49%;
  }
  .editor-styles-wrapper .comment-form-author {
    margin-right: 1%;
  }
  .editor-styles-wrapper .comment-form-email {
    margin-left: 1%;
  }
}
.editor-styles-wrapper form .columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--wp--preset--spacing--medium) 0;
}
.editor-styles-wrapper form .columns p {
  margin: 0;
}
.editor-styles-wrapper form .columns-2 > * {
  flex-basis: 48.5%;
}
.editor-styles-wrapper form .columns-2.einszwei > *:first-child {
  flex-basis: 28%;
}
.editor-styles-wrapper form .columns-2.einszwei > *:last-child {
  flex-basis: 69%;
}
.editor-styles-wrapper .is-style-outline.wp-block-button .wp-block-button__link:hover {
  background-color: var(--wp--preset--color--accent);
  color: var(--wp--preset--color--base);
  border-color: var(--wp--preset--color--accent);
}
.editor-styles-wrapper input[type=submit] {
  background-color: var(--wp--preset--color--base);
  border-radius: 10px;
  padding: var(--wp--preset--spacing--small) var(--wp--preset--spacing--medium);
  border: 2px solid var(--wp--preset--color--accent);
  color: var(--wp--preset--color--accent);
  font-family: var(--wp--preset--font-family--roboto-flex);
  font-size: var(--wp--preset--font-size--normal);
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}
.editor-styles-wrapper input[type=submit]:hover {
  background-color: var(--wp--preset--color--accent);
  color: var(--wp--preset--color--base);
  border-color: var(--wp--preset--color--accent);
}
.editor-styles-wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.editor-styles-wrapper select,
.editor-styles-wrapper textarea {
  width: 100%;
  border: 1px solid var(--wp--preset--color--base-3);
  border-radius: 10px;
  box-sizing: border-box;
  padding: var(--wp--preset--spacing--small);
  font-family: var(--wp--preset--font-family--roboto-flex);
  font-size: var(--wp--preset--font-size--normal);
  background-color: var(--wp--preset--color--base-2);
  transition: border-color 0.3s ease;
}
.editor-styles-wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus, .editor-styles-wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus-visible,
.editor-styles-wrapper select:focus,
.editor-styles-wrapper select:focus-visible,
.editor-styles-wrapper textarea:focus,
.editor-styles-wrapper textarea:focus-visible {
  border-color: var(--wp--preset--color--accent) !important;
  outline: none !important;
}
.editor-styles-wrapper .wpcf7-submit {
  width: 100%;
}
@media (max-width: 460px) {
  .editor-styles-wrapper form .columns {
    flex-direction: column;
  }
  .editor-styles-wrapper form .columns-2.einszwei > *:first-child,
  .editor-styles-wrapper form .columns-2.einszwei > *:last-child,
  .editor-styles-wrapper form .columns-2 > * {
    flex-basis: 100%;
  }
}