body.login {
    background-image: url('../images/login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.login div#login {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 5%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

body.login div#login h1 {}

body.login div#login h1 a {
    background-image: url('../images/login-page-logo.jpg') !important;
    height: 80px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}

body.login div#login form#loginform {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 34px;
    font-weight: 400;
    overflow: hidden;
    background: transparent;
    border: none;
    box-shadow: 0 0 0 rgba(0, 0, 0, .04);
}

body.login div#login form#loginform p {}

body.login div#login form#loginform p label {}

body.login div#login form#loginform input {
    background-color: rgba(255, 255, 255, 0.8)
}

body.login div#login form#loginform input#user_login {}

body.login div#login form#loginform input#user_pass {}

body.login div#login form#loginform p.forgetmenot {}

body.login div#login form#loginform p.forgetmenot input#rememberme {}

body.login div#login form#loginform p.submit {}

body.login div#login form#loginform p.submit input#wp-submit {
    background-color: #742339;
}

body.login div#login p#nav {}

body.login div#login p#nav a {}

body.login div#login p#backtoblog {}

body.login div#login p#backtoblog a {}