@charset "UTF-8";
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  font-stretch: 80%;
}

strong {
  font-weight: 700;
}

a {
  text-underline-offset: var(--wp--preset--spacing--tiny, 1px);
}

a:focus-visible,
button:focus-visible,
input[type=submit]:focus-visible,
[role=button]:focus-visible {
  outline: 2px solid var(--wp--preset--color--accent);
  outline-offset: 2px;
}

.hidden {
  display: none !important;
}

p:empty {
  display: none !important;
}

:root :where(.wp-site-blocks) > *,
.wp-site-blocks > * {
  margin-block-start: 0 !important;
  margin-block-end: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
@media (max-width: 480px) {
  .mobile-less-stretch {
    font-stretch: 65%;
  }
}
.site-header {
  position: relative;
  z-index: 9;
}

#menu-icon {
  width: 40px !important;
  height: auto;
}
#menu-icon path {
  fill: var(--wp--preset--color--accent);
}

.wp-block-navigation__responsive-container.is-menu-open {
  max-width: 100%;
  padding: var(--wp--preset--spacing--medium) 10%;
}
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container {
  padding-top: 0 !important;
}
.wp-block-navigation__responsive-container:not(.has-background).is-menu-open {
  opacity: 0.95 !important;
}

.wp-block-navigation__responsive-container-content .wp-block-navigation > ul {
  margin-top: 0;
  padding-top: 0;
}

/* 
.wp-block-cover.page-heading {
    background-color: var(--wp--preset--color--contrast);
} */
.blog .site-header + main > .wp-block-query,
.page .site-header + main > .wp-block-columns,
.archive .site-header + main > .wp-block-columns,
.single .site-header + main > .wp-block-columns,
.site-header + main > .entry-content {
  position: relative;
}

.is-content-justification-space-between {
  justify-content: space-between;
}

.wp-block-term-description {
  margin-top: 0;
}
.wp-block-term-description p {
  margin: var(--wp--preset--spacing--tiny) auto;
}

#gototop {
  height: 28px;
  width: 28px;
  padding: var(--wp--preset--spacing--tiny);
  background-color: var(--wp--preset--color--accent);
  text-align: center;
  position: fixed;
  right: var(--wp--preset--spacing--small);
  bottom: var(--wp--preset--spacing--small);
  z-index: 999;
  transition: background-color 0.3s ease;
}
#gototop:hover {
  background-color: var(--wp--preset--color--accent-2) !important;
}
#gototop a {
  color: var(--wp--preset--color--base) !important;
  text-decoration: none !important;
}
#gototop a:hover {
  color: var(--wp--preset--color--base) !important;
  text-decoration: none !important;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/** korrigiert "überlaufen" von einer blockgruppe über den html-rand hinaus - bug? hinzugefügt am 22.01.2025*/
.wp-block-categories .wp-block-categories__label {
  width: auto;
}

.wp-block-categories .wp-block-categories__label.screen-reader-text {
  width: 1px;
}

/** old blog */
.wp-block-post-excerpt__more-link {
  display: inline-block;
}
.wp-block-post-excerpt__more-link::after {
  content: " »";
  margin-left: 0;
  transition: margin-left 0.3s ease;
}
.wp-block-post-excerpt__more-link:hover::after {
  margin-left: 4px;
}

figure.wp-block-post-featured-image {
  overflow: hidden;
}

.wp-block-column.post-wrapper .wp-block-post-template .is-layout-flow.wp-block-group {
  margin-bottom: 1.5em !important;
}

main#wp--skip-link--target.is-layout-constrained.wp-container-21.wp-block-group.site-content.has-background-background-color.has-background {
  background-color: var(--wp--preset--color--white);
}

.wp-block-post-comments-form .comment-form input:not([type=submit]):not([type=checkbox]),
.wp-block-post-comments-form .comment-form textarea,
input#wp-block-search__input-3.wp-block-search__input {
  color: var(--wp--preset--color--foreground);
  background-color: #f9f9f9;
}

.wp-block-post-comments-form input:not([type=submit]),
.wp-block-post-comments-form textarea {
  border-color: #eee;
}

pre {
  background-color: var(--wp--preset--color--foreground);
  color: var(--wp--preset--color--background-accent);
  border-color: var(--wp--preset--color--foreground);
}

.wp-block-post-featured-image {
  position: relative;
}

.wp-block-post-featured-image .image-source {
  position: absolute;
  right: 10px;
  bottom: 10px;
  max-width: calc(100% - 60px);
  z-index: 111;
  text-align: left;
}

.wp-block-post-featured-image .image-source,
.wp-block-cover .wp-block-cover__background {
  transition: all 0.7s ease-in-out;
}

.wp-block-post-featured-image:hover .image-source,
.wp-block-cover:hover .wp-block-cover__background {
  transition: all 0.7s ease-in-out;
}

.wp-block-post-featured-image .image-source {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.wp-block-post-featured-image .image-source h2,
.wp-block-post-featured-image .image-source h3 {
  font-size: 16px;
  color: #fff;
}

.wp-block-post-featured-image:hover .image-source h2 a {
  color: #fff;
}

.wp-block-post-featured-image .image-source h2,
.wp-block-post-featured-image .image-source h3,
.page-heading.wp-block-cover .wp-block-cover__inner-container p {
  margin: 0;
}

.page-heading h2 {
  text-align: center;
}

.wp-block-post-featured-image .image-source,
.page-heading.wp-block-cover .wp-block-cover__inner-container {
  padding: 5px 10px;
  margin: 0;
}

.wp-block-post-featured-image .image-source a {
  transition: all 0.7s ease-in-out;
  color: #ffffff;
  display: inline-block;
}

.wp-block-post-featured-image:hover .image-source h2,
.wp-block-post-featured-image:hover .image-source h3,
.wp-block-post-featured-image:hover .image-source h2 a,
.wp-block-post-featured-image:hover .image-source h3 a,
.wp-block-post-featured-image:hover .image-source strong a,
.wp-block-cover:hover .wp-block-cover__inner-container a {
  transition: all 0.7s ease-in-out;
  color: var(--wp--preset--color--foreground);
}

.wp-block-post-featured-image:hover .image-source {
  color: var(--wp--preset--color--foreground);
  transition: all 0.7s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
}

.wp-block-post-featured-image,
.wp-block-post-featured-image:hover {
  transition: all 0.7s ease-in-out;
}

.wp-block-group:not(:hover) .wp-block-post-featured-image {
  filter: grayscale(95%);
}

.is-style-main-navigation .wp-block-navigation__responsive-container:not(.is-menu-open) .wp-block-navigation__container > .wp-block-navigation-item .wp-block-navigation__submenu-container .wp-block-navigation-item .wp-block-navigation-item__content {
  padding: 0.35rem 1rem;
}

.relevanssi-live-search-result p,
.relevanssi-live-search-result-status p {
  font-size: 0.9em;
  padding: 0 0.75em;
}

.relevanssi_related_post img {
  height: auto;
}

.relevanssi_related_post h4 {
  font-weight: 400;
  font-size: 18px;
}

.is-content-justification-space-between .post-navigation-link-next {
  text-align: right;
}

@media (min-width: 600px) {
  .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li {
    width: 100%;
  }
}
@media (min-width: 960px) {
  .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li {
    width: calc(33.33333% - 0.83333em);
  }
}
@media screen and (min-width: 768px) {
  .comment-form-author,
  .comment-form-email {
    display: inline-block;
    width: 49%;
  }
  .comment-form-author {
    margin-right: 1%;
  }
  .comment-form-email {
    margin-left: 1%;
  }
}
form .columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--wp--preset--spacing--medium) 0;
}
form .columns p {
  margin: 0;
}

@media (max-width: 460px) {
  form .columns {
    flex-direction: column;
  }
  form .columns-2.einszwei > *:first-child,
  form .columns-2.einszwei > *:last-child,
  form .columns-2 > * {
    flex-basis: 100%;
  }
}
form .columns-2 > * {
  flex-basis: 48.5%;
}

form .columns-2.einszwei > *:first-child {
  flex-basis: 28%;
}

form .columns-2.einszwei > *:last-child {
  flex-basis: 69%;
}

.is-style-outline.wp-block-button .wp-block-button__link:hover {
  background-color: var(--wp--preset--color--accent);
  color: var(--wp--preset--color--base);
  border-color: var(--wp--preset--color--accent);
}

input[type=submit] {
  background-color: var(--wp--preset--color--base);
  border-radius: 2px;
  border: 1px solid var(--wp--preset--color--accent);
  padding: var(--wp--preset--spacing--small) var(--wp--preset--spacing--medium);
  color: var(--wp--preset--color--accent);
  font-family: var(--wp--preset--font-family--roboto-flex);
  font-size: var(--wp--preset--font-size--normal);
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}
input[type=submit]:hover {
  background-color: var(--wp--preset--color--accent);
  color: var(--wp--preset--color--base);
  border-color: var(--wp--preset--color--accent);
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
select,
textarea {
  width: 100%;
  border: 1px solid var(--wp--preset--color--base-3);
  padding: var(--wp--preset--spacing--tiny);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: var(--wp--preset--font-family--roboto-flex);
  font-size: var(--wp--preset--font-size--normal);
  background-color: var(--wp--preset--color--base-2);
  transition: border-color 0.3s ease;
}
input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus, input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus-visible,
select:focus,
select:focus-visible,
textarea:focus,
textarea:focus-visible {
  border-color: var(--wp--preset--color--accent) !important;
  outline: none !important;
}

.wp-block-categories-dropdown select {
  padding: var(--wp--preset--spacing--small);
}

textarea {
  height: 150px;
}

.wpcf7-submit {
  width: 100%;
}

@media (min-width: 960px) {
  .mobilesonly {
    display: none !important;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@media (max-width: 960px) {
  .desktoponly {
    display: none !important;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@media screen and (max-width: 960px) {
  .wp-block-navigation__responsive-container .wp-block-navigation__responsive-container-content {
    align-items: flex-start !important;
  }
}